.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  font-family: "Poppins", sans-serif;
}

.form-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  text-align: center;
}

.form-box h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #4f46e5;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}